**/logback.xml
etc/*.jar
target
**/.DS_Store
*.iml
.idea/
work/
upload/
default-images/
gen-external-apklibs/
**/env-*.properties
**/user-config.properties
.sass-cache
out

# Eclipse
.classpath
.settings
.project

node_modules/
bower_components/
dist/
tmp_images/
geoloc-kickstartr-web/src/main/webapp/
.tmp/

**/*.orig
etc/db/*.db

**/gradle/**
**/.gradle/**
**/gradlew
**/gradlew.bat
**/npm-debug.log
docker/*.war

